* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page-header {
    padding: 30px;
    font-family: 'Avant Garde', 'Century Gothic', 'Optima', sans-serif;
    background-color: #31302C;
    color: #ffffff;
}

/* put in cool google font later */
.page-header h1 {
    display: inline-block;
    margin-left: 15px;
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 40px;
    font-weight: lighter;
}

.page-header div {
    padding: 15px;
    float: right;
    font-size: 18px;
    color: #B5C6AC; 
}

.page-header div ul {
    list-style-type: none;
}

.page-header div ul li {
    display: inline-block;
    margin-left: 30px;
}