* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #B5C6AC;
    font-family: 'Avant Garde', 'Century Gothic', 'Optima', sans-serif;
    font-size: 20px;
}

header {
    padding: 5px;
    text-align: center;
    background-color: #31302C;
    color: #ffffff;
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 25px;   
}

header h1 {
    font-weight: lighter;
}

nav {
    /* border: 1px solid red; */
    display: flex;
    background-color: #31302C; 
    font-family: 'Avant Garde', 'Century Gothic', 'Optima', sans-serif;
}

nav a {
    color:#B5C6AC;
    padding: 15px;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: white;
}

/* main {
    display: flex;
    flex-wrap: wrap;
} */

section {
    flex: 1;
    background-color: #596649;
    color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
}

section h2 {
    font-size: 30px;
    font-weight: lighter;
    color: #B5C6AC;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info p {
    
    text-align: justify;
}

@media screen and (max-width: 700px) {
    .info {
        display: block;
    }
}

/* this code styles the contact links */
.contact-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
   gap: 40px;
}

.contact-links li {
    /* display: inline; */
    border-radius: 20px;
    /* margin: 40px; */
}

.contact-links li a:link, a:visited {
    background-color: #31302c;
    color: #B5C6AC;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

.contact-links li a:hover {
    color:#ffffff
}
/* this code styles the contact links */

/* this code styles the resume link */
.filler p a:link, a:visited {
    color: #B5C6AC;
    padding: 15px 20px;
    text-align: right;
    text-decoration: none;
    border-radius: 20px;
}

.filler p a:hover {
    color:#ffffff
}
/* this code styles the resume link */

.filler div h3 {
    color:#B5C6AC;
    font-weight: lighter;
    display: inline-block;
    text-align: center;
    margin: 10px;

}

.project-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card{
    text-align: center;
}

.project-card img {
    max-width: 500px;
}

/* styling for photos */
.MM-Photo {
    max-width: 300px;
    border: 10px solid #31302C;
    margin: 10px;
    padding: 0px;
    /* flex-shrink: 0; */
    /* float: right;   */
} 

@media screen and (max-width: 700px){
    .MM-Photo{
        margin: auto;
    }
}

.project-1-photo, .project-2-photo {
    max-width: 800px;
    border: 10px solid #31302C;
    margin: 20px;
    padding: 0px;
    display: inline;
}

.resume-image {
    max-width: 250px;
    border: 10px solid #31302C;
    margin: 20px;
    padding: 0px;
    float: left;
}

@media screen and (min-width: 768px) {
    .filler {
      flex-direction:column;
    }
    
}

@media screen and (max-width: 768px) {
    main, nav {
      flex-direction: column;
    }
    aside {
        order: 1;
    }
}